@{
    ViewData["Title"] = "Weergeeft het wachtwoord";
}
@model GeneratedPasswordViewModel

<div class="text-center">
    <h4>Het account voor de klant is aangemaakt, mail het wachtwoord naar de klant: @Model.email</a></h4>
    <h1 class="display-4">@Model.password </h1>
    <button class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Terug naar accounts beheer</a>
    </button>
</div>