@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij de Boerderij!</h1>
    
        <a asp-area="" asp-controller="Booking" asp-action="Create">Maak hier een Boeking voor een beestje op je feestje.</a>
    
</div>
